<div class="container">
	<div class="page-header">
		<h1>Som v rade</h1>
	</div>

	<form>
		<div class="form-group">
			<label for="pocetOsobInput">Počet osôb</label>
			<div class="input-group">
				<input type="number" class="form-control" min="1" id="pocetOsobInput"
					   ng-model="ctrl.row[0].pocetOsob" ng-change="ctrl.onChange(ctrl.row[0])">
				<a class="btn btn-default input-group-addon" href="#" ng-click="ctrl.changePocetOsob(ctrl.row[0],1)"> + </a>
				<a class="btn btn-default input-group-addon" href="#" ng-click="ctrl.changePocetOsob(ctrl.row[0],-1)"> - </a>
			</div>
		</div>
		<div class="form-group">
			<label for="pocetPoloziekInput">Počet položiek</label>
			<div class="input-group">
				<input type="number" class="form-control" min="1" id="pocetPoloziekInput"
					   ng-model="ctrl.row[0].pocetPoloziek" ng-change="ctrl.onChange(ctrl.row[0])">
				<a class="btn btn-default input-group-addon" href="#" ng-click="ctrl.changePocetPoloziek(ctrl.row[0],1)"> + </a>
				<a class="btn btn-default input-group-addon" href="#" ng-click="ctrl.changePocetPoloziek(ctrl.row[0],-1)"> - </a>
			</div>
		</div>
	</form>

	<div class="jumbotron">
		<h2>{{ctrl.row[0].vysledok}}s</h2>
		<h2>{{ctrl.row[0].vysledok | secondsToMinute}}m {{ctrl.row[0].vysledok%60}}s</h2>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="text-muted">Bulvárny text o výskume o ktorý sa táto stránka opiera nájdeme <a href="http://noizz.sk/zaujimavosti/matematika-nepusti-v-ktorom-rade-pred-pokladnou-si-pockate-najmenej/yxfw2vk">tu</a>.</p>
	</div>
</footer>